{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla tenetur impedit dolores, repellendus aspernatur magnam enim sed esse sint libero maiores illo voluptatibus recusandae facilis, aut unde nostrum quos harum mollitia ea quia. Blanditiis necessitatibus, nulla nam sunt adipisci delectus aliquam dolore facere sed</p>
</div>
{% endblock content %}